.places__image {
    width: 460px;
    height: 460px;
}

@media screen and (max-width: 1024px) {
  .places__image {
    margin-bottom: 32px;
    width: 440px;
    height: 440px;
  }
}

@media screen and (max-width: 930px) {
  .places__image {
    width: 340px;
    height: 340px;
  }
}


@media screen and (max-width: 730px) {
  .places__image {
    width: 100%;
    height: auto;
  }
}