.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1184px;
    padding-top: 28px;
  }

  @media screen and (max-width: 1024px) {
    .header {
      max-width: 928px;
    }
  }

  @media screen and (max-width: 930px) {
    .header {
      max-width: 768px;
    }
  }

  @media screen and (max-width: 768px) {
    .header {
      max-width: 720px;
    }
  }

  @media screen and (max-width: 730px) {
    .header {
      max-width: 600px;
    }
  }

  @media screen and (max-width: 620px) {
    .header {
      max-width: 288px;
    }
  }

  @media screen and (max-width: 320px) {
    .header {
      max-width: 288px;
      padding-top: 16px;
    }
  }