.cover {
    max-width: 1184px;
    margin: 0 auto;
  }

  @media screen and (max-width: 1185px) {
    .cover {
      max-width: 1020px;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
}
}