  .places__website-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.2em;
    color: #aaaaaa;
    margin: 0;
    margin-bottom: 12px;
    text-transform: uppercase;
  }